/ BEGIN: Left Aside
%button#m_aside_left_close_btn.m-aside-left-close.m-aside-left-close--skin-dark
  %i.la.la-close
#m_aside_left.m-grid__item.m-aside-left.m-aside-left--skin-dark
  / BEGIN: Aside Menu
  #m_ver_menu.m-aside-menu.m-aside-menu--skin-dark.m-aside-menu--submenu-skin-dark{"data-menu-dropdown-timeout" => "500", "data-menu-scrollable" => "false", "data-menu-vertical" => "true"}
    %ul.m-menu__nav.m-menu__nav--dropdown-submenu-arrow

      %li.m-menu__item.m-menu__item--active
        = link_to root_url, class: "m-menu__link" do
          %i.m-menu__link-icon.fa.fa-dashboard
          %span.m-menu__link-title
            %span.m-menu__link-wrap
              %span.m-menu__link-text
                Tableau de bord

      %li.m-menu__section
        %h4.m-menu__section-text
          Components
        %i.m-menu__section-icon.flaticon-more-v3
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-layers
          %span.m-menu__link-text
            Base
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Base
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/state.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  State Colors
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/typography.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Typography
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/stack.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Stack
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/tables.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Tables
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/progress.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Progress
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/modal.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Modal
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/alerts.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Alerts
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/popover.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Popover
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/tooltip.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Tooltip
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/blockui.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Block UI
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/spinners.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Spinners
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/scrollable.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Scrollable
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/dropdown.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Dropdown
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Tabs
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/base/tabs/bootstrap.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Bootstrap Tabs
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/base/tabs/line.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Line Tabs
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/navs.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Navs
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/lists.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Lists
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/treeview.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Tree View
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/bootstrap-notify.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Bootstrap Notify
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/base/toastr.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Toastr
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-share
          %span.m-menu__link-text
            Icons
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/icons/flaticon.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Flaticon
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/icons/fontawesome.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Fontawesome
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/icons/lineawesome.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Lineawesome
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/icons/socicons.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Socicons
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-multimedia-1
          %span.m-menu__link-text
            Buttons
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Buttons
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Button Base
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/buttons/base/default.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Default Style
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/buttons/base/square.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Square Style
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/buttons/base/pill.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Pill Style
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/buttons/base/air.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Air Style
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/buttons/group.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Button Group
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/buttons/dropdown.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Button Dropdown
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Button Icon
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/buttons/icon/lineawesome.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Lineawesome Icons
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/buttons/icon/fontawesome.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Fontawesome Icons
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/buttons/icon/flaticon.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Flaticon Icons
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-interface-7
          %span.m-menu__link-text
            Forms
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Forms
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Form Controls
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/controls/base.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Base Inputs
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/controls/checkbox-radio.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Checkbox &amp; Radio
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/controls/switch.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Switch
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/controls/input-group.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Input Groups
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Form Widgets
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-datepicker.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Datepicker
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-datetimepicker.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Datetimepicker
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-timepicker.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Timepicker
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-daterangepicker.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Daterangepicker
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-touchspin.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Touchspin
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-maxlength.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Maxlength
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-switch.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Switch
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-multipleselectsplitter.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Multiple Select Splitter
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-select.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Bootstrap Select
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/select2.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Select2
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/typeahead.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Typeahead
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/nouislider.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        noUiSlider
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/form-repeater.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Form Repeater
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/ion-range-slider.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Ion Range Slider
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/input-mask.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Input Masks
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/summernote.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Summernote WYSIWYG
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/bootstrap-markdown.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Markdown Editor
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/autosize.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Autosize
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/clipboard.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Clipboard
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/dropzone.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Dropzone
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/widgets/recaptcha.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Google reCaptcha
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Form Layouts
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/layouts/default-forms.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Default Forms
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/layouts/multi-column-forms.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Multi Column Forms
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/layouts/action-bars.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Action Bars
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Form Validation
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/validation/states.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Validation States
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/validation/form-controls.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Form Controls
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/forms/validation/form-widgets.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Form Widgets
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-tabs
          %span.m-menu__link-text
            Datatables
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Datatables
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Base
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/data-local.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Local Data
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/data-json.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        JSON Data
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/data-ajax.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Ajax Data
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/html-table.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        HTML Table
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/record-selection.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Record Selection
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/local-sort.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Local Sort
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/column-rendering.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Column Rendering
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/column-width.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Column Width
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/responsive-columns.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Responsive Columns
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/base/translation.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Translation
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Scrolling
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/scrolling/vertical.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Vertical Scrolling
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/scrolling/horizontal.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Horizontal Scrolling
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/scrolling/both.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Both Scrolling
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Locked Columns
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/locked/left.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Left Locked Columns
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/locked/right.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Right Locked Columns
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/locked/both.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Both Locked Columns
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/locked/html-table.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        HTML Table
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Child Datatables
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/child/data-local.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Local Data
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/child/data-ajax.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Remote Data
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  API
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/api/methods.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        API Methods
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/datatables/api/events.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Events
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-interface-1
          %span.m-menu__link-text
            Portlets
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/portlets/base.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Base Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/portlets/advanced.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Advanced Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/portlets/creative.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Creative Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/portlets/tabbed.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Tabbed Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/portlets/draggable.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Draggable Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/portlets/tools.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Portlet Tools
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-network
          %span.m-menu__link-text
            Widgets
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Widgets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/widgets/general.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  General Widgets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/widgets/chart.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Chart Widgets
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-calendar
          %span.m-menu__link-text
            Calendar
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Calendar
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/calendar/basic.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Basic Calendar
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/calendar/list-view.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  List Views
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/calendar/google.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Google Calendar
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/calendar/external-events.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  External Events
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/calendar/background-events.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Background Events
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-diagram
          %span.m-menu__link-text
            Charts
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Charts
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  amCharts
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/charts/amcharts/charts.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        amCharts Charts
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/charts/amcharts/stock-charts.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        amCharts Stock Charts
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "components/charts/amcharts/maps.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        amCharts Maps
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/charts/flotcharts.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Flot Charts
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/charts/google-charts.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Google Charts
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/charts/morris-charts.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Morris Charts
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-placeholder-1
          %span.m-menu__link-text
            Maps
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Maps
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/maps/google-maps.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Google Maps
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/maps/jqvmap.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  JQVMap
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-signs-2
          %span.m-menu__link-text
            Utils
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Utils
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/utils/session-timeout.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Session Timeout
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "components/utils/idle-timer.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Idle Timer
      %li.m-menu__section
        %h4.m-menu__section-text
          Snippets
        %i.m-menu__section-icon.flaticon-more-v3
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-interface-3
          %span.m-menu__link-text
            General
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  General
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Pricing Tables
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/general/pricing-tables/pricing-table-1.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Pricing Tables v1
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/general/pricing-tables/pricing-table-2.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Pricing Tables v2
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/general/pricing-tables/pricing-table-3.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Pricing Tables v3
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/general/pricing-tables/pricing-table-4.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Pricing Tables v4
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
        %a.m-menu__link.m-menu__toggle{href: "#"}
          %i.m-menu__link-icon.flaticon-suitcase
          %span.m-menu__link-text
            Custom Pages
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %a.m-menu__link{href: "#"}
                %span.m-menu__link-text
                  Custom Pages
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  User Pages
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/user/login-1.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Login - 1
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/user/login-2.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Login - 2
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/user/login-3.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Login - 3
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/user/login-4.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Login - 4
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/user/login-5.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Login - 5
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true", "data-menu-submenu-toggle" => "hover"}
              %a.m-menu__link.m-menu__toggle{href: "#"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text
                  Error Pages
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/errors/error-1.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Error 1
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/errors/error-2.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Error 2
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/errors/error-3.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Error 3
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/errors/error-4.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Error 4
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/errors/error-5.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Error 5
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{href: "snippets/pages/errors/error-6.html", target: "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text
                        Error 6
          / END: Aside Menu
        / END: Left Aside